.footer-section{
    height: 85vh;
    width: 100vw;
    background-color: #01A1A5;
    padding: 100px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-about{
    padding: 100px;
}
.icons-container{
    display: flex;
    justify-content: center;  
}
.footer-logo{
    height: 40px;
    z-index: 3;
}
.icons{
    /* background-color: #484848; */
    height:40px;
    width: 40px;
    border:2px solid #fff ;
    border-radius: 50%;
    padding:5px ;
    font-size: 1rem;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.quick-links{
    display:flex ;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 100px;
    
}
.quick-links a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width:576px) {
    .footer-section{
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
        height: auto;
        /* background-color: #fff; */
    }
}