
.important-info-section{
    position: relative;
    height: 300px;
}
.important-info-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    color: white;
    position: relative;
    position: absolute;
    top:-40%;
    
}
.important-card{
    background-color: #01B2B7;
    text-align: left;
    padding: 50px;
    border-radius: 10px;
    
    z-index: 3;
}
@media screen and (max-width:577px) {
    .important-info-section{
        height: 900px;
        /* margin-left: 10px; */
    }
    .important-info-container{
        grid-template-columns: repeat(1, 1fr);
        top: -150px;
    }
}